body{
background-color:pista;
;
color:green;
font-family:"Courier New",monospace;
}
h2{
color:red;
}
.highlight{
background-color:lightblue;
border:2px solid red;
}
p.highlight {
background-color: #ffeb3b;
font-weight: bold;
padding: 10px;
border: 1px dashed #ff9800;
}